# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments & IDE
venv/
env/
.env/
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db
